<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>userNameMatching</servlet-name>
    <servlet-class>cn.com.rpg.servlet.userNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>cn.com.rpg.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userCreate</servlet-name>
    <servlet-class>cn.com.rpg.servlet.userCreateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delectByUserId</servlet-name>
    <servlet-class>cn.com.rpg.servlet.delectByUserId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>cn.com.rpg.servlet.doLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteByrecordId</servlet-name>
    <servlet-class>cn.com.rpg.servlet.deleteByrecordId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteByNewsId</servlet-name>
    <servlet-class>cn.com.rpg.servlet.deleteByNewsId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteBycharacterId</servlet-name>
    <servlet-class>cn.com.rpg.servlet.deleteBycharacterId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteByAreaId</servlet-name>
    <servlet-class>cn.com.rpg.servlet.deleteByAreaId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>copyRecord</servlet-name>
    <servlet-class>cn.com.rpg.servlet.copyRecord</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dataSave</servlet-name>
    <servlet-class>cn.com.rpg.servlet.dataSave</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ajaxlogin</servlet-name>
    <servlet-class>cn.com.rpg.servlet.ajaxlogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ajaxZhuCe</servlet-name>
    <servlet-class>cn.com.rpg.servlet.ajaxZhuCe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZhuCeSuc</servlet-name>
    <servlet-class>cn.com.rpg.servlet.ZhuCeSuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatePass</servlet-name>
    <servlet-class>cn.com.rpg.servlet.updatePass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ajaxOldPass</servlet-name>
    <servlet-class>cn.com.rpg.servlet.ajaxOldPass</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>userNameMatching</servlet-name>
    <url-pattern>/servlet/userNameMatching</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userCreate</servlet-name>
    <url-pattern>/servlet/userCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delectByUserId</servlet-name>
    <url-pattern>/delectByUserId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteByrecordId</servlet-name>
    <url-pattern>/deleteByrecordId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteByNewsId</servlet-name>
    <url-pattern>/deleteByNewsId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteBycharacterId</servlet-name>
    <url-pattern>/deleteBycharacterId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteByAreaId</servlet-name>
    <url-pattern>/deleteByAreaId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>copyRecord</servlet-name>
    <url-pattern>/copyRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dataSave</servlet-name>
    <url-pattern>/dataSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ajaxlogin</servlet-name>
    <url-pattern>/ajaxlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ajaxZhuCe</servlet-name>
    <url-pattern>/ajaxZhuCe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhuCeSuc</servlet-name>
    <url-pattern>/ZhuCeSuc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatePass</servlet-name>
    <url-pattern>/updatePass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ajaxOldPass</servlet-name>
    <url-pattern>/ajaxOldPass</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.com.rpg.util.SetCharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>